.single {
	&-content {
		margin-top: 15px;
		p {
			color: #3e3e3e;
    		font-size: 18px;
		}
		.post-title {
			color: #3e3e3e;
			font-size: 26px;
			margin-bottom: 10px;
		}
		.main {
			margin-bottom: 50px;
			.thumbnail {
				img {
					width: 100%;
				}
			}
		}
	}
}
