.single {
	&-content {
		margin-top: 15px;
		p {
			color: #3e3e3e;
    		font-size: 18px;
			line-height: 1.5;
    		.fa {
    			color: color_theme;
    		}
		}
		.post-title {
			color: #3e3e3e;
			font-size: 26px;
			margin-bottom: 10px;
		}
		.main {
			margin-bottom: 50px;
			.thumbnail {
				img {
					width: 100%;
				}
			}
		}
	}
}

.breadcrumb {
	margin: 15px 0;
	li {
		display: inline-block;
		a {
			color: #949494;
			.fa {
				margin: 0 5px;
			}
		}
	}
}
